<% unless @friends.nil? || @friends.empty?  %>
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <tr class="pointer" onclick="window.location='<%= friend_path(friend) %>'">
          <td><%= friend.first_name %> <%= friend.last_name %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="card">
    <div class="card-body">
      Your friend list is empty.
    </div>
  </div>
<% end %>
<br>
<%= link_to 'New Friend', new_friend_path, class:'btn btn-success' %>



